name: terraform-ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - run: terraform fmt -check -recursive
      - run: terraform -chdir=infra/live/prod init
      - run: terraform -chdir=infra/live/prod validate
